extends ./layouts/default.pug

block content
  //- main
  main.main

    //- task list
    section
      article.task-list-container
        h3.heading-3 Make reusable and composable
        div.task-list
          for item in make_reusable_and_composable
            div.task
              input(type="checkbox" value=item.name id=item.name)
              label(for=item.name)
              a(href=item.link class="task-link" target="_blank")=item.name
    
    //- task list
    section
      article.task-list-container
        h3.heading-3 Cover the basics
        div.task-list
          for item2 in cover_the_basics
            div.task
              input(type="checkbox" value=item2.name id=item2.name)
              label(for=item2.name)
              a(href=item2.link class="task-link" target="_blank")=item2.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 Make maintainable
        div.task-list
          for item3 in make_maintainable
            div.task
              input(type="checkbox" value=item3.name id=item3.name)
              label(for=item3.name)
              a(href=item3.link class="task-link" target="_blank")=item3.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 Improve performance
        div.task-list
          for item4 in improve_performance
            div.task
              input(type="checkbox" value=item4.name id=item4.name)
              label(for=item4.name)
              a(href=item4.link class="task-link" target="_blank")=item4.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 A11y
        div.task-list
          for item5 in a11y
            div.task
              input(type="checkbox" value=item5.name id=item5.name)
              label(for=item5.name)
              a(href=item5.link class="task-link" target="_blank")=item5.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 Make customizable
        div.task-list
          for item6 in make_customizable
            div.task
              input(type="checkbox" value=item6.name id=item6.name)
              label(for=item6.name)
              a(href=item6.link class="task-link" target="_blank")=item6.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 Document all
        div.task-list
          for item7 in document_all
            div.task
              input(type="checkbox" value=item7.name id=item7.name)
              label(for=item7.name)
              a(href=item7.link class="task-link" target="_blank")=item7.name

    //- task list
    section
      article.task-list-container
        h3.heading-3 Publish to the world
        div.task-list
          for item8 in publish_to_the_world
            div.task
              input(type="checkbox" value=item8.name id=item8.name)
              label(for=item8.name)
              a(href=item8.link class="task-link" target="_blank")=item8.name
